/* Reset */

*{
  padding: 0;
  box-sizing: border border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif Helvetica, sans-serif ;
  box-sizing: border-box;
}

body{
background-color: rgba(0, 0, 0, 0.904);
}

.card{
  width: 100%;
  max-width:  550px;
  padding: 50px 45px;
  border-radius: 20px;
  color:white;
  background: linear-gradient(135deg, hsla(251, 23%, 18%, 0.904)); #5b548a);
  text text-align: center;
  margin: 100px auto 0;
}

.search {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;

}

.search input{
  outline: 0;
  border:0 ;
  color:#fff;
  background:rgba(255, 255, 255, 0.25);
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
}

.search button{
background:#f1ecec ;
border: 10;
outline: 0;
border: radius 65px;%;
cursor: pointer;
width: 15%;
height: 60px;

}

.search button img{
  width:  50px;
}

.weather-icon{

width: 140px;
margin: top 45px;0px ;
}

.weather h1{
  font-size: 100px;
  font-weight: 70;
}

.weather h2{
  font-size: 60px;
  font-weight: 200;
 margin-top: -8px;
}

.details{
  align-items: center;
  display:flex ;
  justify-content:space-between ;
 padding: 0 20px;
}

.col{
  text-align: left;
  align-items: center;
  display: flex;
}

.col img{
  margin: right 20px; 
  width:70px; 
  }

  .weather img{
   margin: right 10px; ;
   align-items: center;
   width: 70px;
  }

  .humidity, .wind {
    margin top: -4px;
    font-size: 100:
    }
    